.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.mainContainer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    grid-column-start:1;
    width: auto;
    height: auto;
    border-radius: 20px;
}

.mainContainer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    grid-column-start:2;
    width: auto;
    height: auto;
    border-radius: 20px;
}

.mainContainer3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    grid-column-start:3;
    width: auto;
    height: auto;
    border-radius: 20px;
}
.container{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;
}

.bodyAlternate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;
}

.bodyContainer{
    display: grid;
    grid-template-columns: 350px 350px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    column-gap: 20px;
    border-radius: 20px;
}





.holderOfBoxes{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
    border-radius: 20px;

}

.footer{
    display: grid;
    grid-template-columns: 250px 250px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;

}

.reset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;
}

.clickContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;
}

.clickContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;

}