.header{
    background-color: rgba(13, 34, 226, 0.452);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.mainContainer1{
     background-color: rgba(210, 105, 30, 0.68);
font-size: 30px;
border-style: dotted;
border-inline-color: black;
 }

 .mainContainer1 :hover{
    background-color: rgba(255, 146, 68, 0.68);
 }

.mainContainer2{
    background-color: rgba(30, 93, 210, 0.589);
    font-size: 30px;
    border-style: dotted;
border-inline-color: black;

}

.mainContainer2 :hover{
    background-color: rgba(255, 146, 68, 0.68);
 }

.mainContainer3{
    background-color: rgba(210, 105, 30, 0.68);
    font-size: 30px;
    border-style: dotted;
border-inline-color: black;

}

.mainContainer3 :hover{
    background-color: rgba(255, 146, 68, 0.68);
 }
.container{
    
    /* background-color: rgba(13, 34, 226, 0.589); */

}

.body{
   
   /* background-image: url(https://images.unsplash.com/photo-1485745655111-3272a37e76a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80); */
background-repeat: no-repeat;
background-size: cover;
}

.footer{
    background-color: rgba(13, 34, 226, 0.452);
    font-size: 30px;
    color: white;
    
    font-family: fantasy;

}

.reset{
    background-color:rgba(255, 1, 5, 0.726); 
    font-size: 30px;
    color: black;
    font-style: white;
    

}

.holderOfBoxes{
    background-color: rgba(102, 102, 102, 0.63);
}

.html{
    
    background-image: url(https://images.unsplash.com/photo-1485745655111-3272a37e76a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}




.countClick :hover{
size: 110%;
}

.reset :hover{
    background-image: repeating-radial-gradient(rgba(250, 46, 46, 0.589), rgba(255, 255, 255, 0.664) , rgba(255, 37, 37, 0.5) );
    }

.button{
    border-color: antiquewhite;
    border-width: 2px;
    border-style: solid;
}